{
  "openapi": "3.0.0",
  "info": {
    "title": "Figenty API",
    "version": "v1",
    "description": "API for Figenty services, generated from TypeScript client."
  },
  "servers": [
    {
      "url": "https://api.figenty.com"
    }
  ],
  "tags": [
    {
      "name": "Public API Gateway",
      "description": "Endpoints managed by the Public API Gateway"
    }
  ],
  "paths": {
    "/public/v1/invoices": {
      "get": {
        "summary": "List Invoices",
        "operationId": "listInvoices",
        "tags": ["Public API Gateway"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": { "type": "integer" }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer" }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "NOT_STARTED",
                "OCR_PROCESSING",
                "OCR_DONE",
                "OCR_ERROR",
                "ACCOUNTING_PROCESSING",
                "ACCOUNTING_DONE",
                "ACCOUNTING_ERROR",
                "WAITING_FOR_HUMAN",
                "SUCCESS",
                "ERROR"
              ]
            },
            "description": "Filter by invoice analysis status. Can be one of the enum values or other string."
          },
          {
            "name": "externalId",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "fileName",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "createdDateFrom",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "format": "date-time" }
          },
          {
            "name": "createdDateTo",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "format": "date-time" }
          },
          {
            "name": "updatedDateFrom",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "format": "date-time" }
          },
          {
            "name": "updatedDateTo",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "format": "date-time" }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["createdAt", "updatedAt", "invoiceDate", "fileName"]
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of invoices.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListInvoicesResponse"
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        },
        "security": [{ "ApiKeyAuth": [] }]
      },
      "post": {
        "summary": "Submit Invoice",
        "operationId": "submitInvoice",
        "tags": ["Public API Gateway"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicInvoiceCreatePayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invoice submission confirmation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicInvoiceCreateResponse"
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        },
        "security": [{ "ApiKeyAuth": [] }]
      }
    },
    "/public/v1/invoices/{externalId}": {
      "get": {
        "summary": "Get Invoice by External ID",
        "operationId": "getInvoice",
        "tags": ["Public API Gateway"],
        "parameters": [
          {
            "name": "externalId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Full invoice details.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FullInvoiceResponse" }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        },
        "security": [{ "ApiKeyAuth": [] }]
      },
      "delete": {
        "summary": "Delete invoice.",
        "operationId": "deleteInvoice",
        "tags": ["Public API Gateway"],
        "parameters": [
          {
            "name": "externalId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion status.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "message": { "type": "string" }
                  },
                  "required": ["success", "message"]
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        },
        "security": [{ "ApiKeyAuth": [] }]
      },
      "patch": {
        "summary": "Update Invoice",
        "operationId": "updateInvoice",
        "tags": ["Public API Gateway"],
        "parameters": [
          {
            "name": "externalId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateInvoicePayload" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated invoice details.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FullInvoiceResponse" }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        },
        "security": [{ "ApiKeyAuth": [] }]
      }
    },
    "/public/v1/invoices/{externalId}/status": {
      "get": {
        "summary": "Get Invoice Status by External ID",
        "operationId": "getInvoiceStatus",
        "tags": ["Public API Gateway"],
        "parameters": [
          {
            "name": "externalId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice status details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceStatusResponse"
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        },
        "security": [{ "ApiKeyAuth": [] }]
      }
    }
  },
  "components": {
    "schemas": {
      "InvoiceAnalysisStatus": {
        "type": "string",
        "enum": [
          "NOT_STARTED",
          "OCR_PROCESSING",
          "OCR_DONE",
          "OCR_ERROR",
          "ACCOUNTING_PROCESSING",
          "ACCOUNTING_DONE",
          "ACCOUNTING_ERROR",
          "WAITING_FOR_HUMAN",
          "SUCCESS",
          "ERROR"
        ]
      },
      "Supplier": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" },
          "storeName": { "type": "string", "nullable": true },
          "storeStreetAddress": { "type": "string", "nullable": true },
          "storeZipCode": { "type": "string", "nullable": true },
          "storeCity": { "type": "string", "nullable": true },
          "storeCountry": { "type": "string", "nullable": true },
          "storePhone": { "type": "string", "nullable": true },
          "storeEmail": { "type": "string", "nullable": true },
          "storeVatNumber": { "type": "string", "nullable": true },
          "storeOrganizationNumber": { "type": "string", "nullable": true },
          "companyName": { "type": "string", "nullable": true },
          "companyStreetAddress": { "type": "string", "nullable": true },
          "companyZipCode": { "type": "string", "nullable": true },
          "companyCity": { "type": "string", "nullable": true },
          "companyCountry": { "type": "string", "nullable": true },
          "companyPhone": { "type": "string", "nullable": true },
          "companyEmail": { "type": "string", "nullable": true },
          "companyVatNumber": { "type": "string", "nullable": true },
          "companyOrganizationNumber": { "type": "string", "nullable": true },
          "invoices": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Invoice" },
            "nullable": true
          }
        },
        "required": ["id", "createdAt", "updatedAt"]
      },
      "InvoiceLineItem": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "productId": { "type": "string", "nullable": true },
          "description": { "type": "string", "nullable": true },
          "exVatAmount": { "type": "number", "nullable": true },
          "vatAmount": { "type": "number", "nullable": true },
          "vatRate": { "type": "number", "nullable": true },
          "totalAmount": { "type": "number", "nullable": true },
          "currency": { "type": "string", "nullable": true },
          "quantity": { "type": "number", "nullable": true },
          "unit": { "type": "string", "nullable": true },
          "accountClassNumber": { "type": "string", "nullable": true },
          "accountNumber": { "type": "string", "nullable": true },
          "invoiceId": { "type": "string" }
        },
        "required": ["id", "invoiceId"]
      },
      "Invoice": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "externalId": { "type": "string", "nullable": true },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" },
          "invoiceNumber": { "type": "string", "nullable": true },
          "direction": { "type": "string", "nullable": true },
          "amount": { "type": "number", "nullable": true },
          "totalAmount": { "type": "number", "nullable": true },
          "vatAmount": { "type": "number", "nullable": true },
          "currency": { "type": "string", "nullable": true },
          "invoiceDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "dueDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "ourReferenceName": { "type": "string", "nullable": true },
          "ourReferenceEmail": { "type": "string", "nullable": true },
          "ourReferencePhone": { "type": "string", "nullable": true },
          "theirReferenceName": { "type": "string", "nullable": true },
          "theirReferenceEmail": { "type": "string", "nullable": true },
          "theirReferencePhone": { "type": "string", "nullable": true },
          "status": { "type": "string", "nullable": true },
          "fileUrl": { "type": "string", "nullable": true },
          "fileName": { "type": "string", "nullable": true },
          "base64File": { "type": "string", "nullable": true },
          "webhookUrl": { "type": "string", "nullable": true },
          "webhookCallStatus": { "type": "string", "nullable": true },
          "analysisStatus": {
            "$ref": "#/components/schemas/InvoiceAnalysisStatus",
            "nullable": true
          },
          "analysisErrorMessage": { "type": "string", "nullable": true },
          "rawAnalysisData": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          },
          "supplierId": { "type": "string", "nullable": true },
          "supplier": {
            "$ref": "#/components/schemas/Supplier",
            "nullable": true
          },
          "lineItems": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/InvoiceLineItem" },
            "nullable": true
          },
          "isEvaluationInvoice": { "type": "boolean", "nullable": true },
          "goldenInvoiceFileName": { "type": "string", "nullable": true }
        },
        "required": ["id", "createdAt", "updatedAt"]
      },
      "FullInvoiceResponse": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "externalId": { "type": "string", "nullable": true },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" },
          "invoiceNumber": { "type": "string", "nullable": true },
          "direction": { "type": "string", "nullable": true },
          "amount": { "type": "number", "nullable": true },
          "totalAmount": { "type": "number", "nullable": true },
          "vatAmount": { "type": "number", "nullable": true },
          "currency": { "type": "string", "nullable": true },
          "invoiceDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "dueDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "ourReferenceName": { "type": "string", "nullable": true },
          "ourReferenceEmail": { "type": "string", "nullable": true },
          "ourReferencePhone": { "type": "string", "nullable": true },
          "theirReferenceName": { "type": "string", "nullable": true },
          "theirReferenceEmail": { "type": "string", "nullable": true },
          "theirReferencePhone": { "type": "string", "nullable": true },
          "status": { "type": "string", "nullable": true },
          "fileUrl": { "type": "string", "nullable": true },
          "fileName": { "type": "string", "nullable": true },
          "base64File": { "type": "string", "nullable": true },
          "webhookUrl": { "type": "string", "nullable": true },
          "webhookCallStatus": { "type": "string", "nullable": true },
          "analysisStatus": {
            "$ref": "#/components/schemas/InvoiceAnalysisStatus",
            "nullable": true
          },
          "analysisErrorMessage": { "type": "string", "nullable": true },
          "supplierId": { "type": "string", "nullable": true },
          "supplier": {
            "$ref": "#/components/schemas/Supplier",
            "nullable": true
          },
          "lineItems": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/InvoiceLineItem" },
            "nullable": true
          }
        },
        "required": ["id", "createdAt", "updatedAt"]
      },
      "InvoiceStatusResponse": {
        "type": "object",
        "properties": {
          "externalId": { "type": "string" },
          "status": {
            "type": "string",
            "description": "Can be one of InvoiceAnalysisStatus enum values or other string.",
            "enum": [
              "NOT_STARTED",
              "OCR_PROCESSING",
              "OCR_DONE",
              "OCR_ERROR",
              "ACCOUNTING_PROCESSING",
              "ACCOUNTING_DONE",
              "ACCOUNTING_ERROR",
              "WAITING_FOR_HUMAN",
              "SUCCESS",
              "ERROR"
            ]
          },
          "updatedAt": { "type": "string", "format": "date-time" },
          "webhookCallStatus": { "type": "string", "nullable": true }
        },
        "required": ["externalId", "status", "updatedAt"]
      },
      "PublicInvoiceListItem": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "externalId": { "type": "string", "nullable": true },
          "fileName": { "type": "string", "nullable": true },
          "analysisStatus": {
            "type": "string",
            "description": "Can be one of InvoiceAnalysisStatus enum values or other string.",
            "enum": [
              "NOT_STARTED",
              "OCR_PROCESSING",
              "OCR_DONE",
              "OCR_ERROR",
              "ACCOUNTING_PROCESSING",
              "ACCOUNTING_DONE",
              "ACCOUNTING_ERROR",
              "WAITING_FOR_HUMAN",
              "SUCCESS",
              "ERROR"
            ]
          },
          "invoiceDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "totalAmount": { "type": "number", "nullable": true },
          "currency": { "type": "string", "nullable": true },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" },
          "webhookUrl": { "type": "string", "nullable": true },
          "webhookCallStatus": { "type": "string", "nullable": true }
        },
        "required": ["id", "analysisStatus", "createdAt", "updatedAt"]
      },
      "ListInvoicesResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/PublicInvoiceListItem" }
          },
          "meta": {
            "type": "object",
            "properties": {
              "totalItems": { "type": "integer" },
              "itemsPerPage": { "type": "integer" },
              "currentPage": { "type": "integer" },
              "totalPages": { "type": "integer" }
            },
            "required": [
              "totalItems",
              "itemsPerPage",
              "currentPage",
              "totalPages"
            ]
          }
        },
        "required": ["data", "meta"]
      },
      "PublicInvoiceCreatePayload": {
        "type": "object",
        "properties": {
          "fileName": { "type": "string" },
          "base64File": { "type": "string" },
          "contentType": { "type": "string" },
          "webhookUrl": { "type": "string" },
          "externalId": { "type": "string" }
        },
        "required": [
          "fileName",
          "base64File",
          "contentType",
          "webhookUrl",
          "externalId"
        ]
      },
      "PublicInvoiceCreateResponse": {
        "type": "object",
        "properties": {
          "externalId": { "type": "string" },
          "status": { "type": "string" }
        },
        "required": ["externalId", "status"]
      },
      "UpdateInvoiceLineItemPayload": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "accountClassNumber": { "type": "string", "nullable": true },
          "accountNumber": { "type": "string", "nullable": true },
          "exVatAmount": { "type": "number", "nullable": true },
          "vatAmount": { "type": "number", "nullable": true },
          "totalAmount": { "type": "number", "nullable": true }
        },
        "required": ["id"]
      },
      "UpdateInvoicePayload": {
        "type": "object",
        "properties": {
          "lineItems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UpdateInvoiceLineItemPayload"
            }
          }
        },
        "required": ["lineItems"]
      },
      "ErrCode": {
        "type": "string",
        "enum": [
          "ok",
          "canceled",
          "unknown",
          "invalid_argument",
          "deadline_exceeded",
          "not_found",
          "already_exists",
          "permission_denied",
          "resource_exhausted",
          "failed_precondition",
          "aborted",
          "out_of_range",
          "unimplemented",
          "internal",
          "unavailable",
          "data_loss",
          "unauthenticated"
        ]
      },
      "ErrorResponseBody": {
        "type": "object",
        "properties": {
          "code": { "$ref": "#/components/schemas/ErrCode" },
          "message": { "type": "string" },
          "details": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          }
        },
        "required": ["code", "message"]
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    },
    "responses": {
      "ErrorResponse": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponseBody" }
          }
        }
      }
    }
  }
}
